# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
sarya_factory/views/local_purchase.xml
sarya_factory/views/local_purchase.xml
sarya_factory/views/local_purchase.xml
sarya_factory/views/local_purchase.xml
