<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!--    Stock Count Menu    -->
        <menuitem id="menu_stock_count_"
                  name="Stock Count"
                  action="stock_count_action"
                  parent="sarya_pos_custom.menu_point_of_sale_operation"
                  sequence="51"/>

        <!--    Stock Count Approvals Menu    -->
        <menuitem id="menu_stock_count_approvals_"
                  action="stock_count_approvals_action"
                  name="Stock Count Approvals"
                  groups="sarya_stock_count.stock_count_approve_manager_group"
                  parent="sarya_pos_custom.menu_point_of_sale_operation"
                  sequence="52"/>

        <!--    Stock Count Line Menu    -->
        <menuitem id="menu_stock_count_line"
                  action="stock_count_line_action"
                  name="Stock Count Lines"
                  groups="point_of_sale.group_pos_manager"
                  parent="sarya_pos_custom.menu_point_of_sale_operation"
                  sequence="53"/>

        <!--    Stock Count Configuration Menu    -->
        <menuitem id="menu_stock_count_configuration"
                  parent="point_of_sale.menu_point_config_product"
                  action="sarya_stock_count.action_stock_count_config"
                  sequence="10"/>
    </data>
</odoo>
